Repository MaxGhenis/yankee-stadium-beer-price-controls: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-doc-values, ruff-check, black-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: update-doc-values
        name: Update documentation values from model
        entry: python scripts/update_docs_values.py
        language: system
        files: '^(src/model\.py|src/simulation\.py|docs/.*\.md)$'
        pass_filenames: false
        always_run: false  # Only run if relevant files changed

      - id: ruff-check
        name: Lint with ruff
        entry: ruff check
        language: system
        types: [python]

      - id: black-check
        name: Format with black
        entry: black
        language: system
        types: [python]

Refactor: Fix beer price ceiling constraint handling
  charts/beers_per_fan.png
  charts/price_ceiling_analysis.csv
  charts/prices.png
  charts/quantities.png
  charts/revenue.png
  charts/welfare.png
  charts/welfare_combined.png
  src/model.py
Due: update-doc-values, ruff-check, black-check

Fix tests and revert rowdiness logic
  .coverage
  _build/logs/myst.build.json
  docs/_build/site/config.json
  docs/_build/site/content/background.json
  docs/_build/site/content/calibration.json
  docs/_build/site/content/conclusion.json
  docs/_build/site/content/intro.json
  docs/_build/site/content/model.json
  docs/_build/site/content/policy.json
  docs/_build/site/content/references-page.json
  docs/_build/site/content/simulation.json
  docs/_build/site/content/taxes.json
  src/model.py
  src/price_ceiling_analysis.py
  src/simulation.py
  tests/test_coverage.py
  tests/test_model.py
  tests/test_price_ceiling_analysis.py
  tests/test_sanity_checks.py
  tests/test_simulation.py
Due: update-doc-values, ruff-check, black-check

Downgrade python requirement to >=3.10 to fix CI
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Remove uv.lock to avoid potential platform conflicts in CI
  uv.lock
Due: none

Allow docs job to commit changes (self-healing)
  .github/workflows/ci.yml
Due: none

Run docs deploy independently of tests
  .github/workflows/ci.yml
  docs/_build/site/config.json
  docs/_build/site/content/background.json
  docs/_build/site/content/calibration.json
  docs/_build/site/content/conclusion.json
  docs/_build/site/content/intro.json
  docs/_build/site/content/model.json
  docs/_build/site/content/policy.json
  docs/_build/site/content/references-page.json
  docs/_build/site/content/simulation.json
  docs/_build/site/content/taxes.json
Due: none

Downgrade deploy job to Python 3.10
  .github/workflows/deploy-book.yml
  docs/_build/site/config.json
  docs/_build/site/content/background.json
  docs/_build/site/content/calibration.json
  docs/_build/site/content/conclusion.json
  docs/_build/site/content/intro.json
  docs/_build/site/content/model.json
  docs/_build/site/content/policy.json
  docs/_build/site/content/references-page.json
  docs/_build/site/content/simulation.json
  docs/_build/site/content/taxes.json
  docs/_build/site/myst.xref.json
Due: none

Align deploy workflow with crfb-tob-impacts reference
  .github/workflows/deploy-book.yml
Due: none

Add robustness analysis and Monte Carlo uncertainty quantification
  docs/abstract.md
  docs/background.md
  docs/complementarity_comparison.md
  docs/monte_carlo.ipynb
  docs/simulation.ipynb
  src/price_ceiling_analysis.py
  src/simulation.py
  tests/test_simulation.py
Due: update-doc-values, ruff-check, black-check

Add stadium-specific crime research citations
  docs/background.md
  docs/complementarity_comparison.md
  docs/references.bib
Due: update-doc-values

Address referee concerns: remove Pigouvian tax, add decomposition
  docs/abstract.md
  docs/assumptions.md
  docs/monte_carlo.ipynb
  docs/simulation.ipynb
Due: update-doc-values

Add PDF export for SSRN working paper
  .gitignore
  docs/_toc.yml
  docs/myst.yml
  docs/paper.md
  scripts/build_pdf.sh
Due: update-doc-values

Address Round 2 referee comments in paper.md
  docs/paper.md
Due: update-doc-values

Fix selection effect: drinkers now respond differentially to beer prices
  docs/paper.md
  src/model.py
  tests/test_simulation.py
Due: update-doc-values, ruff-check, black-check

Clean up build artifacts and remove Pigouvian tax from scripts
  .gitignore
  scripts/update_docs_values.py
Due: ruff-check, black-check

Add robustness analysis and Monte Carlo uncertainty quantification (#6)
  .gitignore
  docs/_toc.yml
  docs/abstract.md
  docs/assumptions.md
  docs/background.md
  docs/complementarity_comparison.md
  docs/monte_carlo.ipynb
  docs/myst.yml
  docs/paper.md
  docs/references.bib
  docs/simulation.ipynb
  scripts/build_pdf.sh
  scripts/update_docs_values.py
  src/model.py
  src/price_ceiling_analysis.py
  src/simulation.py
  tests/test_simulation.py
Due: update-doc-values, ruff-check, black-check

Sync JupyterBook content with PDF paper
  docs/abstract.md
  docs/simulation.ipynb
Due: update-doc-values

Major paper revision: tighter abstract, neutral language, consistent content
  docs/abstract.md
  docs/conclusion.md
  docs/executive_summary.md
  docs/intro.md
  docs/model.md
  docs/paper.md
  docs/price_ceiling_analysis.md
Due: update-doc-values

Fix false attribution: Mamdani/Khan, not AOC
  docs/abstract.md
  docs/intro.md
  docs/paper.md
  docs/references.bib
Due: update-doc-values

Reframe paper around $6 ceiling (half price) instead of $5/marginal cost
  README.md
  docs/abstract.md
  docs/paper.md
Due: update-doc-values

Remove extraneous files and update all $7 references to $6 (half price)
  .coverage
  CLAUDE.md
  DYNAMIC_VALUES.md
  GEMINI.md
  HETEROGENEOUS_MODEL_SUMMARY.md
  IMPROVEMENTS_SUMMARY.md
  LEISTEN_COMPARISON.md
  MODEL_NOTES.md
  POLICY_BRIEF.md
  SESSION_SUMMARY.md
  SUMMARY_OF_UPDATES.md
  WELCOME_BACK.md
  docs/DATA_SOURCES.md
  docs/QUICKSTART.md
  docs/SUBSTITUTIONS.md
  docs/TAX_ANALYSIS.md
  docs/TAX_CALIBRATION.md
  docs/complementarity_comparison.md
  docs/executive_summary.md
  docs/monte_carlo.ipynb
  docs/policy.md
  docs/price_ceiling_analysis.md
  docs/sensitivity.ipynb
  docs/simulation.ipynb
  docs/test_substitutions.md
  templates/AGENTS.md.tpl
Due: update-doc-values

Address academic review feedback
  .coverage
  LICENSE
  charts/beers_per_fan.png
  charts/price_ceiling_analysis.csv
  charts/prices.png
  charts/quantities.png
  charts/revenue.png
  charts/welfare.png
  charts/welfare_combined.png
  docs/assumptions.md
  docs/background.md
  docs/conclusion.md
  docs/executive_summary.md
  docs/intro.md
  docs/model.md
  docs/paper.md
  docs/policy.md
  docs/price_ceiling_analysis.md
  docs/references.bib
  scripts/update_docs_values.py
  tests/test_coverage.py
  tests/test_full_calibration.py
  tests/test_model.py
  tests/test_price_ceiling_analysis.py
Due: update-doc-values, ruff-check, black-check

Fix remaining citation issues from Round 2 review
  docs/model.md
  docs/paper.md
Due: update-doc-values

Fix all remaining Lenk → Wolfe citations for consumption data
  docs/calibration.md
  docs/executive_summary.md
  docs/monte_carlo.ipynb
  docs/references_page.md
  docs/sensitivity.ipynb
  docs/templates/executive_summary.md.tpl
Due: update-doc-values

fixup! Fix all remaining Lenk → Wolfe citations for consumption data
  .coverage
  config.yaml
  src/app.py
  src/calibrate.py
  src/config_loader.py
  src/model.py
  src/simulation.py
  tests/test_calibration_tdd.py
  tests/test_coverage.py
  tests/test_demand_realism.py
  tests/test_full_calibration.py
  tests/test_model.py
  tests/test_sanity_checks.py
  tests/test_simulation.py
  tests/test_utility_consistent.py
Due: update-doc-values, ruff-check, black-check

Add PDF build to CI
  .github/workflows/deploy-book.yml
Due: none

Add texlive-xetex for MyST PDF builds
  .github/workflows/deploy-book.yml
Due: none

Fix PDF export copy path
  .github/workflows/deploy-book.yml
Due: none

Switch paper deployment to Vercel
  .github/workflows/deploy-paper.yml
  .gitignore
  .vercelignore
  README.md
  package.json
  vercel.json
Due: none

Tighten paper prose into active voice
  README.md
  paper/index.qmd
  src/yankee_stadium_beer_controls/paper.py
  tests/test_paper.py
  web/app/page.tsx
Due: ruff-check, black-check
